<div 
    class="bg-black/50 fixed top-0 left-0 bottom-0 w-screen h-screen"
    (click)="hideModal.emit(false)"
></div>

<div class="absolute bg-white flex flex-col w-10/12 h-5/6 top-10 left-20 overflow-auto justify-center items-center">
    <form
        class="flex flex-col justify-center items-center"
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)"
    >
        <label class="mb-3 text-sm">
            Please, create a title of your post:
        </label>
        <input 
            class="rounded-md border border-black w-72"
            type="text"
            placeholder="title"
            formControlName="title"
        />
        <p
            class="text-red-600 text-sm mt-2"
            *ngIf="showErrorTitle"
        >
            This is a required field
        </p>

        <label class="mb-3 text-sm mt-5">
            Please, attach an image (supported: .jpg/.jpeg/.png):
        </label>
        <input 
            class="rounded-md border border-black w-72"
            type="file"
            accept=".jpg, .jpeg, .png"
            placeholder="title"
            (change)="img($event)"
        />
        <p 
            class="text-red-600 text-sm mt-2"
            *ngIf="showErrorImg"
        >Please, attach an image</p>

        <img
            *ngIf="addedImg"
            [src]="addedImg"
            class="w-40 mt-3"
        />

        <div>
            <button
                type="submit"
                class="mt-10 mr-5 border-white rounded-xl bg-violet-700 w-40 h-10 text-white"
            >Add</button>
            <button
                class="mt-10 border-white rounded-xl bg-gray-400 w-40 h-10 text-white"
                (click)="hideModal.emit(false)"
            >Back</button>
        </div>
    </form>
</div>
