<div class="my-5 grid grid-rows">
    <div class="flex flex-row">
        <div class="mr-10 flex flex-col items-center">
            <fa-icon
                [icon]="faArrowUp"
                (click)="increaseVotes()"
                class="cursor-pointer"
            ></fa-icon>
            {{ votesAmount }}
            <fa-icon
                [icon]="faArrowDown"
                (click)="decreaseVotes()"
                class="cursor-pointer"
            ></fa-icon>
        </div>
        <div class="mr-5">
            <img
                [src]="post.image"
                [alt]="post.title"
                class="w-20"
            >
        </div>
        <div>
            <h4
                class="text-2xl cursor-pointer"
                (click)="showPost = true"
            >
                {{ post.title }}
            </h4>
            <p class="text-sm text-gray-500">
                submitted on {{ date }} by <b>{{ post.username }}</b>
            </p>
            <div class="flex justify-between mt-1 w-80">
                <p
                    class="text-sm font-bold text-gray-500 cursor-pointer"
                    (click)="showComments = !showComments"
                >
                    {{ post.comments.length }} comments
                </p>
                <button
                    class="border-white rounded-md bg-gray-400 w-28 h-6 text-white flex items-center justify-center"
                    (click)="addComment = true"
                >
                    Add comment
                </button>
            </div>
        </div>
</div>
    <div
        *ngIf="showComments && post.comments.length"
        class="ml-28 mt-2"
    >
        <app-comments
            *ngFor="let comment of post.comments"
            [comment]="comment"
        ></app-comments>
    </div>
</div>
<app-modal
    *ngIf="showPost"
    [index]="index"
    [post]="post"
    [showPost]="showPost"
    (hidePost)="hidePost($event)"
></app-modal>
<app-add-comment
    *ngIf="addComment"
    [index]="index"
    [addComment]="addComment"
    (closeComment)="closeComment($event)"
></app-add-comment>
